@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Century Gothic",sans-serif;
    background-color: #4e14b8;

}


footer{
    text-align: center;
    color: #c5b9b9;
    padding-block-end: 10px;
 }
 footer > p > a {
    color: #c5b9b9;
 }

  
.wrapper{
    max-width: 800px;
    /* height: 70vh; */
    margin-inline: auto;
    background-color: #26006e;
    color: white;
    margin-block-start: 20px;
}
.heading {
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;
    color: orange;
    text-align: center;
 }

 .heading2 {
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;
    color: yellow;
    text-align: center;
    margin-block: 20px;
 }


 .button-container, .image-container{
    width: 600px;
    display: flex;
    /* gap: 10px; */
    justify-content:space-evenly;
    padding:10px;
    margin-inline: auto

 }
 .button-container > img, .image-container > img{
    display: flex;
    width: 125px;
    object-fit: cover;
 }

 #computer, #next-round{
    display: block;
    margin-inline: auto;
    margin-block: 5px;
    height: 2.5rem;
    width: 12rem;
    font: 1.5rem;
    font-weight: 800;
    color: yellow;
    background-color: #38127f; 
 }
 
 #play-again{
    display: block;
    margin-inline: auto;
    margin-block: 5px;
    height: 2.5rem;
    width: 5rem;
    font: 1.5rem;
    font-weight: 800;
    color: yellow;
    background-color: #38127f; 
 }

 .image-container{
    width: 300px;
    display: flex;
    /* gap: 10px; */
    justify-content:space-evenly;
    padding:10px;
    margin-inline: auto

 }
 .image-container > img{
    display: flex;
    width: 75px;
    object-fit: cover;
 }

#round-result{
    margin-block: 10px;
    margin-inline: auto;
    width: 500px;
    min-height: 10rem;
    max-height: 10rem;
    border: 1px yellow solid;
    overflow-y: scroll;
}
#round-result > p{
    padding-inline-start: 10px;
}
#round-result :nth-Child(1){
    padding-block-start: 5px;
}
 #final-result{
    margin-block: 10px;
    margin-inline: auto;
    width: 500px;
    min-height: 3rem;
    max-height: 3rem;
    border: 1px orange solid;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #next-round:hover{
    background-color: #622cc6;
 }

 #computer:hover{
    background-color: #622cc6;
 }

 #play-again:hover{
    background-color: #622cc6;    
 }
 
 #result-pane{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-inline: auto;    
 }

.icons {
   display: inline-flex;
   max-width: 1rem;
   min-width: 1rem;
   object-fit: cover;
   align-items: center;
   justify-content: center;
}